@model Dominio.Entity.Category
@{
    ViewData["Title"] = "Category Page";
}

<div>
    <form class="form-horizon" asp-action="Save" asp-controller="Category" method="POST">
    <div class="form-group">
      <label>Name:</label>
      <input type="text" class="form-control" asp-for="name" placeholder="Insert with the category"/>
      </div>
      </br>
     <div class="form-group">
      <button type="submit" class="btn btn-success">Save</button>
      </div>
    </form>
</div>